/* ベース色
----------------------------------------- */
// $color-main: #ededed;
$color-accent: #2e1d0f;
// $color-sub: #f2f2f2;
$color-text: #2d1b0f;
// $color-link: #333;
$color-linkhover: #ffa252;
$color-background: #fff7f7;
