/* modal
----------------------------------------- */
@use "../setting/setting" as set;
@use "../function/responsive" as res;

.c-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

.c-modal__bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.c-modal__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  @include res.lg {
    width: 675px;
  }
  @include res.responsive(xl) {
    width: 950px;
  }
}

.c-modal__item {
  position: relative;
  width: 100%;
  iframe {
    width: 100%;
    @include res.lg {
      height: 450px;
    }
    @include res.responsive(xl) {
      height: 500px;
    }
  }
}

.c-modal__videoClose {
  position: absolute;
  top: -20%;
  right: 0%;
  display: inline-block;
}
